<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <div *ngIf="weatherData.timelines.daily[0].values.temperatureAvg > 15">
      <img src="./assets/day.png" *ngIf=" weatherData.timelines.daily[0].values.temperatureAvg <= 25">
      <img src="./assets/hot.png" *ngIf=" weatherData.timelines.daily[0].values.temperatureAvg > 25">
    </div>
    <img src="./assets/cold.png" *ngIf=" weatherData.timelines.daily[0].values.temperatureAvg <= 15">
    <div class="weather-data">
      <div class="location" title="{{weatherData.location.name}}">
        {{weatherData.location.name.split(',').shift()}}
        <img src="./assets/pin.png">
      </div>
      <div class="temperature">{{ weatherData.timelines.daily[0].values.temperatureAvg | number: '1.0-0' }}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Inforamtion
    </div>
    <div class="more-info-container">

      <div class="info-block">
        <div class="info-block-label">
          <img src="./assets/min.png">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.timelines.daily[0].values.temperatureMin | number: '1.1-1' }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="./assets/max.png">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.timelines.daily[0].values.temperatureMax | number: '1.1-1' }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="./assets/humidity.png">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.timelines.daily[0].values.humidityAvg | number: '1.0-0' }}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="./assets/wind.png">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.timelines.daily[0].values.windSpeedAvg | number: '1.1-1' }} km/h
        </div>
      </div>

    </div>
  </div>
</div>

<div class="credit">Powered By <a href="https://rapidapi.com/tomorrow-tomorrow-default/api/tomorrow-io1" target="_blank">RapidAPI</a></div>

<router-outlet></router-outlet>
